.square {
    width: calc((100vmin - 70px) / 8);
    height: calc((100vmin - 70px) / 8);
    max-width: 75px;
    max-height: 75px;
    font-size: 10px;
    border: none;
    background-color: #fff;
}

.black {
    background-color: #6D696A;
}

.knight.goal {
    background-image: url('./knight.png'), url('./goal.png');
    background-size: cover;
}

.knight {
    background-image: url('./knight.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.goal {
    background-image: url('./goal.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.square:hover {
    background-color: #87BAAB;
}